In [2]:
import pandas as pd
import numpy as np
df= pd.read_excel("Tarea1P2.xlsx")
for i in range(len(df.columns)+1):
    avg_growth=round((df.iloc[-1,1:i]/df.iloc[0,1:i])**(1/(df.iloc[-1,0]-df.iloc[0,0]))-1,4)
    
df["Tendency1"] = df.iloc[0,1]
df["Tendency2"] = df.iloc[0,2]
df["Tendency3"] = df.iloc[0,3]
df["Tendency4"] = df.iloc[0,4]

for i in range(1,len(df)):

    df.loc[i, "Tendency1"] = df.loc[i-1,"Tendency1"]*(1+avg_growth[0])
    df.loc[i, "Tendency2"] = df.loc[i-1,"Tendency2"]*(1+avg_growth[1])
    df.loc[i, "Tendency3"] = df.loc[i-1,"Tendency3"]*(1+avg_growth[2])
    df.loc[i, "Tendency4"] = df.loc[i-1,"Tendency4"]*(1+avg_growth[3])
    
df["Ciclo1"] = np.log(df["pais 1"])-np.log(df["Tendency1"])
df["Ciclo2"] = np.log(df["pais 2"])-np.log(df["Tendency2"])
df["Ciclo3"] = np.log(df["pais 3"])-np.log(df["Tendency3"])
df["Ciclo4"] = np.log(df["pais 4"])-np.log(df["Tendency4"])

avg_ciclo1=np.average(df["Ciclo1"])
avg_ciclo2=np.average(df["Ciclo2"])
avg_ciclo3=np.average(df["Ciclo3"])
avg_ciclo4=np.average(df["Ciclo4"])

avg_ciclo= pd.Series({'pais 1':avg_ciclo1,
                      'pais 2':avg_ciclo2,
                      'pais 3':avg_ciclo3,
                      "pais 4":avg_ciclo4})

,Año,pais 1,pais 2,pais 3,pais 4,Tendency1,Tendency2,Tendency3,Tendency4,Ciclo1,Ciclo2,Ciclo3,Ciclo4
0,1900,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,0.000000,0.000000,0.000000,0.000000
1,1901,1106.653386,1045.071311,1055.574452,1117.775437,1025.600000,1025.400000,1035.700000,1035.900000,0.076063,0.019002,0.019008,0.076070
2,1902,1127.247305,1069.771059,1091.381868,1150.019211,1051.855360,1051.445160,1072.674490,1073.088810,0.069223,0.017279,0.017290,0.069237
3,1903,1192.668437,1105.500634,1139.168141,1228.990599,1078.782857,1078.151867,1110.968969,1111.612698,0.100360,0.025050,0.025066,0.100381
4,1904,1193.556369,1126.633913,1172.612715,1242.266329,1106.399698,1105.536924,1150.630561,1151.519594,0.075826,0.018903,0.018924,0.075855
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1995,11212.431867,10864.556434,28092.588517,28992.093382,11038.527822,10835.893924,28004.494866,28522.930359,0.015631,0.002642,0.003141,0.016315
96,1996,11608.814307,11166.756176,29164.177725,30318.699386,11321.114134,11111.125629,29004.255332,29546.903559,0.025095,0.004994,0.005499,0.025786
97,1997,12258.093043,11533.969996,30425.972246,32336.168626,11610.934656,11393.348220,30039.707248,30607.637397,0.054239,0.012267,0.012777,0.054937
98,1998,11643.828893,11602.192429,30913.534037,31024.472575,11908.174583,11682.739265,31112.124796,31706.451579,-0.022449,-0.006918,-0.006404,-0.021744
99,1999,12249.943578,11972.715262,32221.384040,32967.470440,12213.023853,11979.480842,32222.827652,32844.713191,0.003018,-0.000565,-0.000045,0.003731

In [10]:
df1=pd.Series.sort_values(avg_ciclo).to_frame("avg cicle")
df2=pd.Series.sort_values(avg_growth,ascending=False).to_frame("avg growth")
df1,df2

(        avg cicle
 pais 1  -0.046816
 pais 4  -0.046460
 pais 2  -0.012364
 pais 3  -0.012104,
         avg growth
 pais 4      0.0359
 pais 3      0.0357
 pais 1      0.0256
 pais 2      0.0254)